# SQL Server
# Variaveis de conexão para SQL Server
SERVER = ""
DATABASE_OLTP = ""
USERNAME_OLTP = ""
PASSWORD_OLTP = ""

# PostgreSQL
# Variaveis de conexão para PostgreSQL
HOST = ""
PORT = 
DATABASE_OLAP = ""
USERNAME_OLAP = ""
PASSWORD_OLAP = ""